/* Custom CSS */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 0px;
  margin-top: 60px;
}
.project {
  margin-left: 10px;
  margin-bottom: 20px;
}
.project a {
  font-weight: bold;
}
.project p {
  margin: 5px 0;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(50%);
  /* mix-blend-mode: difference; */
}
footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  /* z-index: 1000; */
}
.show-footer footer {
  display: block;
}

/* Buttons */
.btn-outline-dark {
  color: #343a40;
  border-color: #343a40;
  box-shadow: none;
}
.btn-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  box-shadow: none;
}

.btn_active {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

/* Add separator style */
.separator {
  border-top: 1px solid #dee2e6; /* Border style */
  margin: 20px 10px; /* Adjust margin as needed */
}

/* GitHub icon color */
.fab.fa-github-square {
  color: black;
}

.carousel-container {
  height: 500px; /* Fixed height */
}

.carousel-img {
  object-fit: contain;
   max-width: 100%;
   max-height: 100%;
   width: auto;
   height: auto;object-fit: contain;
   max-width: 100%;
   max-height: 100%;
   width: auto;
   height: auto;
}